<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{/layout/headerLayout :: setContent(~{::title}, ~{this::content})}">
    <title>상품 수정</title>
    <th:block th:fragment="content">
        <!-- Modal -->
        <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="w-100 pt-1 mb-5 text-right">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="get" class="modal-content modal-body border-0 p-0">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                        <button type="submit" class="input-group-text bg-success text-light">
                            <i class="fa fa-fw fa-search text-white"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Open Content -->
        <section class="bg-light">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-7 mt-5 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2">상품 수정</h1>
                                <form method="POST" id="editItem">
                                    <input type="hidden" name="itemId" th:value="${item.getId()}">
                                    <div class="form-group">
                                        <label for="product-name">상품 이름</label>
                                        <input type="text" class="form-control" id="product-name" name="name"
                                               required th:value="${item.getName()}">
                                    </div>

                                    <div class="form-group">
                                        <label for="product-price">가격</label>
                                        <input type="text" step="0.01" class="form-control" id="product-price"
                                               name="price" required th:value="${#numbers.formatInteger(item.getPrice(), 0, 'COMMA')}"
                                        min="0" max="1000000000">
                                    </div>

                                    <div class="form-group">
                                        <label for="product-description">상품 재고</label>
                                        <input type="text" step="1" class="form-control" id="product-stock"
                                               name="stock" required th:value="${item.getStock()}">
                                    </div>

                                    <div class="form-group">
                                        <label for="product-description">상품 상세</label>
                                        <textarea class="form-control" id="product-description"
                                                  name="itemDetail"
                                                  rows="4" required th:value="${item.getItemDetail()}"></textarea>
                                    </div>

                                    <button type="submit" class="btn btn-primary"
                                    th:onclick="'editItem(\'' + ${item.getId()} + '\')'">수정</button>
                                    <button type="submit" class="btn btn-primary"
                                            th:onclick="'deleteItem(\'' + ${item.getId()} + '\')'">삭제</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Close Content -->
    </th:block>
</th:block>
<script>
    var form = document.getElementById("editItem");
    function editItem(itemId) {
        form.action = "/seller/editItem";
    }
    function deleteItem(itemId) {
        form.action = "/seller/deleteItem/" + itemId;
    }
</script>
</html>
