<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{/layout/headerLayout :: setContent(~{::title}, ~{this::content})}">
    <title th:text="장바구니"/>
    <th:block th:fragment="content">
        <!-- Start Content -->
        <div class="container py-5">
            <div style="display:flex;">
                <div class="row" style="flex-grow: 2;">
                    <div class="col-md-12">
                        <h2 class="mb-3">Shopping Cart</h2>
                        <div class="card">
                            <div class="card-body">
                                <!-- Sample cart items -->
                                <form id="cart-form" action="http://">
                                    <!--<th:block th:each="dto : ${todoList.dtoList}">-->
                                    <th:block>
                                        <ul class="list-group mb-3" id="cart-items">
                                            <!-- Existing cart item, modify accordingly -->
                                            <li class="list-group-item">
                                                <div class="product-info"
                                                     style="justify-content: flex-start; display: flex;">
                                                    <!--<input type="checkbox" class="item-checkbox" id="item1" name="item1">-->
                                                    <div class="image-box" style="width: 30%">
                                                        <img src="product1.jpg" alt="Product 1" class="product-image">
                                                    </div>
                                                    <div style="width: 70%; display: flex; flex-direction: column">
                                                        <div class="p-3">
                                                            <span class="product-name fa-lg">칠성 사이다</span>
                                                        </div>
                                                        <div class="p-3">
                                                            <input type="text" name="price" value="100">
                                                            단가 : <span class="product-price">5000원</span>
                                                        </div>
                                                        <div class="p-3">
                                                            총 가격 : <span class="product-price">15000원</span>
                                                        </div>
                                                        <div class="col-auto p-3"
                                                             style="display: flex; justify-content: space-between">
                                                            <div>
                                                                <ul class="list-inline">
                                                                    <li class="list-inline-item text-right">
                                                                        수량
                                                                        <input type="hidden" name="quanity" value="1">
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                    <span class="btn btn-success"
                                                                          id="btn-minus">-</span>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                    <span class="badge bg-secondary"
                                                                          id="var-value">1</span>
                                                                    </li>
                                                                    <li class="list-inline-item">
                                                                        <span class="btn btn-success"
                                                                              id="btn-plus">+</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div>
                                                                <button class="btn btn-danger text-xl-end">삭제</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </th:block>
                                    <label>주문 품목:</label>
                                    <table>
                                        <tr th:each="cart : ${carts}">
                                            <td>
                                                <h5 class="mb-0">상품이름: <span
                                                        th:text="${cart.name})}"/></h5>
                                            </td>
                                            <td>
<!--                                                <input type="number"-->
<!--                                                       th:field="{ordtems[__${itemStat.index}__].quantity}" required>-->
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!--<div style="display: flex; align-items: center; top: 0; position: sticky;">-->
                    <div style="display: flex; align-items: center; top: 50%; position: sticky; flex-direction: column">
                        <div>
                            <form th:action="@{/submitOrder}" method="post">
                                <label for="zipCode">우편번호:</label>
                                <input type="text" id="zipCode" name="zipCode"  required>
                                <br>

                                <label for="city">도시:</label>
                                <input type="text" id="city" name="city" required>
                                <br>

                                <label for="street">도로명:</label>
                                <input type="text" id="street" name="street" required>
                                <br>

                                <label for="headNumber" class="form-label">전화번호</label>

                                <div class="mb-3" th:width="100px">
                                    <input type="text" style="border-color: lightgray; width: 80px;" id="headNumber" required maxlength="3">-
                                    <input type="text" style="border-color: lightgray; width: 80px;" id="middleNumber" required maxlength="4">-
                                    <input type="text" style="border-color: lightgray; width: 80px;" id="tailNumber" required maxlength="4">
                                </div>

                                <br>
                                <label for="deliveryRequest">배송 요청사항:</label>
                                <br>
                                <textarea id="deliveryRequest" name="deliveryRequest"></textarea>
                                <br>

                                <label for="payment">결제 수단:</label>
                                <select id="payment" name="payment" required>
                                    <option value="">-- 선택하세요 --</option>
                                    <option value="CREDIT_CARD">신용카드</option>
                                    <option value="BANK_TRANSFER">계좌이체</option>
                                    <option value="CASH">현금</option>
                                </select>
                                <br>

                            </form>
                        </div>
                        <div class="mt-4 mx-lg-5">
                            <strong class=" fa-lg">
                                총 주문가격 : <span id="total-price">15000</span>원
                            </strong>
                        </div>
                        <div>
                            <button class="btn btn-primary mt-3" id="checkout-btn">주문하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<script th:inline="javascript">
    function createOrder() {
        window.location.href = '/order/create';
    }
</script>
