<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{/layout/headerLayout :: setContent(~{::title}, ~{this::content})}">
    <title th:text="주문상세"/>
    <th:block th:fragment="content">

        <!-- Modal -->
        <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="w-100 pt-1 mb-5 text-right">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="get" class="modal-content modal-body border-0 p-0">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                        <button type="submit" class="input-group-text bg-success text-light">
                            <i class="fa fa-fw fa-search text-white"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <!-- Start Content -->
        <div class="container py-5">
            <div class="row">

                <div class="col-lg-3">
                    <h1 class="h2 pb-4">Admin</h1>
                    <ul class="list-unstyled templatemo-accordion">
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                User
                                <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul class="collapse show list-unstyled pl-3">
                                <li><a class="text-decoration-none" href="#">List</a></li>
                            </ul>
                        </li>
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                Product
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                                <li><a class="text-decoration-none" href="#">List</a></li>
                            </ul>
                        </li>
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                Order
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="collapseThree" class="collapse list-unstyled pl-3">
                                <li><a class="text-decoration-none" href="#">List</a></li>
                            </ul>
                        </li>
                        <li class="pb-3">
                            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                                Board
                                <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                            </a>
                            <ul id="collapseFour" class="collapse list-unstyled pl-3">
                                <li><a class="text-decoration-none" href="#">Q&A</a></li>
                                <li><a class="text-decoration-none" href="#">Product Q&A</a></li>
                                <li><a class="text-decoration-none" href="#">Review</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-9">
                    <div class="user_table">
                        <h1 class="h2 pb-4">User Information</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Nickname</th>
                                <th>Phone Number</th>
                                <th>User Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Replace the following rows with actual user data using server-side code or JavaScript -->
                            <tr>
                                <td>1</td>
                                <td>******</td>
                                <td>user1@example.com</td>
                                <td>John Doe</td>
                                <td>JohnDoe123</td>
                                <td>123-456-7890</td>
                                <td>Regular</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>******</td>
                                <td>user2@example.com</td>
                                <td>Jane Smith</td>
                                <td>JaneS</td>
                                <td>987-654-3210</td>
                                <td>Admin</td>
                            </tr>
                            <!-- Add more rows for other users as needed -->
                            </tbody>
                        </table>
                    </div>
                    <div class="product_table">
                        <h1 class="h2 pb-4">Product Information</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Nickname</th>
                                <th>Phone Number</th>
                                <th>User Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Replace the following rows with actual user data using server-side code or JavaScript -->
                            <tr>
                                <td>1</td>
                                <td>******</td>
                                <td>user1@example.com</td>
                                <td>John Doe</td>
                                <td>JohnDoe123</td>
                                <td>123-456-7890</td>
                                <td>Regular</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>******</td>
                                <td>user2@example.com</td>
                                <td>Jane Smith</td>
                                <td>JaneS</td>
                                <td>987-654-3210</td>
                                <td>Admin</td>
                            </tr>
                            <!-- Add more rows for other users as needed -->
                            </tbody>
                        </table>
                    </div>
                    <div class="order_table">
                        <h1 class="h2 pb-4">Order Information</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Nickname</th>
                                <th>Phone Number</th>
                                <th>User Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Replace the following rows with actual user data using server-side code or JavaScript -->
                            <tr>
                                <td>1</td>
                                <td>******</td>
                                <td>user1@example.com</td>
                                <td>John Doe</td>
                                <td>JohnDoe123</td>
                                <td>123-456-7890</td>
                                <td>Regular</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>******</td>
                                <td>user2@example.com</td>
                                <td>Jane Smith</td>
                                <td>JaneS</td>
                                <td>987-654-3210</td>
                                <td>Admin</td>
                            </tr>
                            <!-- Add more rows for other users as needed -->
                            </tbody>
                        </table>
                    </div>


                </div>


            </div>
        </div>
        <!-- End Content -->

    </th:block>
</th:block>


