<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{/layout/headerLayout :: setContent(~{::title}, ~{this::content})}">
    <title th:text="|상품 문의 등록|"/>
    <th:block th:fragment="content">
        <!-- Start Contact -->
        <div class="container py-5">
            <div class="row py-5">
                <form class="col-md-9 m-auto" method="post" role="form" action="/inquiry/create">
                    <div class="mb-3">
                        <label for="title">제목</label>
                        <input type="text" class="form-control mt-1" id="title" name="title" placeholder="제목을 입력해 주세요.">
                    </div>
                    <div class="mb-3">
                        <label for="contents">문의 내용</label>
                        <textarea class="form-control mt-1" id="contents" name="contents" placeholder="내용을 입력해 주세요."
                                  rows="8"></textarea>
                    </div>
                    <div class="row">
                        <div class="col text-end mt-2">
                            <button type="submit" class="btn btn-success btn-lg px-3">문의하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</th:block>
